{
	"jsc": {
		"target": "es2022",
		"parser": {
			"syntax": "ecmascript",
			"decorators": false,
			"importAssertions": true,
			"dynamicImport": true,
			"exportNamespaceFrom": false
		},
		"keepClassNames": true,
		"loose": true
	},
	"module": {
		"strict": true,
		"strictMode": true,
		"type": "es6",
		"noInterop": true,
		"lazy": true,
		"ignoreDynamic": true
	},
	"minify": false,
	"env": {
		"targets": {
			"chrome": "86",
			"firefox": "86",
			"node": "16"
		},
		"mode": "usage",
		"coreJs": 3.12
	},
	"isModule": true
}