{
	"jsc": {
		"parser": {
			"syntax": "ecmascript",
			"tsx": false,
			"decorators": false,
			"dynamicImport": true
		},
		"keepClassNames": false,
		"loose": true
	},
	"module": {
		"type": "umd",
		"noInterop": true
	},
	"minify": true,
	"sourceMaps": true,
	"env": {
		"targets": {
			"chrome": "90",
			"node": "16"
		},
		"mode": "usage",
		"coreJs": 3.12
	}
}